/* layout & grid
------------------------------------*/

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1.8em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters


//alternative layout sizes

$phone: 0em 4 25em;
$tablet: 8 55em;
$desktop: 55em 12;

.wrap {
     padding: 0 2em;
     position: relative;
}


@include at-breakpoint($desktop) {

     .wrap {
          @include container;
          //@include susy-grid-background;
     }

}

@include at-breakpoint($tablet) {

     .wrap {
          //@include susy-grid-background;
     }

}

@include at-breakpoint($phone) {

     .wrap {
          //@include susy-grid-background;
          padding: 0 .4em;

     }

}

@mixin rhythm {
     margin-bottom: 2.6em;

     @include at-breakpoint($phone) {
          margin-bottom: 2em;
     }

     @include at-breakpoint($phone) {
          margin-bottom: 1.4em;
     }

}
