/* 
	Title:		Master styles for screen media
	Author: 	Tom Darlow - tothesix.co.uk
*/


/* CONTENTS	
------------------------------------

1. global variables
2. imports [reset, formalize, compass/css3, susy]
3. global styles
4. typographic
5. interface patterns
6. header 
7. main
8. secondary
9. footer
10. misc 
11. sections

*/

/* global variables	
------------------------------------*/

// colour
$brand-accent: #39c;
$brand-blue: #666;

// typographic
$display-type: Helvetica Neue, Arial, sans-serif;
$body-type: Helvetica Neue, Arial, sans-serif;


// timing
$transition-quick: .1s ease-in-out;
$transition-slow: .2s ease-in-out;


/* imports	
------------------------------------*/

@import "compass/css3";
@import "reset";
@import "formalize";
@import "susy";
//@import "bootstrap";

@import "grid";



/* global styles	
------------------------------------*/

body {
  font-family: $body-type;
  color: $brand-blue;
  font-size: 100%;
  background: #f9f9f9;
}

a {	
	color: $brand-accent;
	outline: none;
	@include transition(color $transition-quick);
	
	&:hover {
		color: lighten($brand-accent, 5%);
	}
	
}


/* typographic	
------------------------------------*/

.entry-content,
.mod {
     h3,
     h4,
     p,
     ul,
     ol,
     img {
          margin-bottom: .6em;
          font-size: 1.25em; // 18/16
          line-height: 1.375em;


          @include at-breakpoint($phone) {
               font-size: 1em;
               line-height: 1.25em;
          }

     }

     h4 {
          font-weight: bold;
          margin-bottom: 0 !important;
     }

     p.overture {
          font-size: 1.8em;
          font-weight: 300;
          line-height: 1.25em;
          margin-bottom: .65em;

          @include at-breakpoint($tablet) {
               font-size: 1.25em;
          }

          @include at-breakpoint($phone) {
               font-size: 1.15em;
          }

     }

     ul,
     ol {
          list-style: disc;
          margin-left: 1.1em;

          @include at-breakpoint($phone) {
               margin-left: 1.2em;
          }

          li {
               line-height: 1.5em;
               margin-bottom: 1em;

               p {
                    font-size: 1em;
               }

          }

     }

     ol {
          list-style: decimal;
     }

}// .mod & .entry-content

.mod > *:last-child,
.mod > *:last-child > *:last-child,
.mod > *:last-child > *:last-child > *:last-child,
.entry-content > *:last-child,
.entry-content > *:last-child > *:last-child,
.entry-content > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0 !important;
}


/* interface patterns	
------------------------------------*/

// buttons

a.more {
     text-transform: uppercase;
     text-decoration: none;
     font-weight: 900;
     
     &:hover {
          text-decoration: underline;
     }
}

nav.paginator a,
a.btn,
button.btn,
input[type="submit"] {
     clear: both;
     padding: .4em 1em;
     display: inline-block;
     border: none;
     text-decoration: none;
     font-family: $body-type;
     background: $brand-blue;
     color: $brand-blue;
     @include border-radius(6px);
     @include box-shadow(0 1px 0 lighten($brand-blue, 38%));
     @include transition($transition-quick background);
     
     @include at-breakpoint($phone) {
          font-size: .875em;
     }
     
     
     &:hover {
          background: lighten($brand-blue, 20%);
     }
     
     &:active {
     	@include box-shadow(inset 0 1px 0 lighten($brand-blue, 38%));
     }
     
}


/* header	
------------------------------------*/


header[role="banner"] {

}

// nav

nav[role="navigation"] {
	
	ul {		
	
	}

	li {
		
		
	}	

	a {
		
	}

}


/* main	
------------------------------------*/

#main[role="main"] {
	
	
}


/* secondary	
------------------------------------*/

#secondary[role="complementary"] {
	
}


/* footer	
------------------------------------*/

footer[role="contentinfo"] {
	
}




/* misc	
------------------------------------*/

hr, 
.hide,
.screen-reader-text {
	display: none;
}

img, object {
	max-width: 100%;
}

a img {
	border: none;
}

// self-clear floats

.group:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

// custom selection colours 
::-moz-selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: $brand-blue;
  text-shadow: none; }

::selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: lighten($brand-blue, 6%);
  text-shadow: none; }


