/* 
	Title:		Master styles for screen media
	Author: 	Tom Darlow - tothesix.co.uk
*/
/* CONTENTS	
------------------------------------

1. global variables
2. imports [reset, formalize, compass/css3, susy]
3. global styles
4. typographic
5. interface patterns
6. header 
7. main
8. secondary
9. footer
10. misc 
11. sections

*/
/* global variables	
------------------------------------*/
/* imports	
------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../sass/_formalize.scss */
.input_full {
  width: 100%;
}

/* line 12, ../sass/_formalize.scss */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* line 21, ../sass/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 32, ../sass/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 37, ../sass/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 48, ../sass/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 57, ../sass/_formalize.scss */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  background: #dddddd url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAAAAADhgtq/AAAAHElEQVQoz2P8z4ADsOCW+UeGnsFs2nDzz5AMHQA+JRlAyyOraAAAAABJRU5ErkJggg==) repeat-x;
  background: #dddddd url(/assets/button.png) repeat-x;
  *padding-top: 2px;
  *padding-bottom: 0;
}
/* line 87, ../sass/_formalize.scss */
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  text-decoration: none;
}
/* line 92, ../sass/_formalize.scss */
button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#dddddd, #eeeeee);
  background-image: -moz-linear-gradient(#dddddd, #eeeeee);
  background-image: -o-linear-gradient(#dddddd, #eeeeee);
  background-image: linear-gradient(#dddddd, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999 #bbb #ddd;
}
/* line 106, ../sass/_formalize.scss */
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 113, ../sass/_formalize.scss */
a.button {
  *padding-bottom: 3px;
}

/* line 118, ../sass/_formalize.scss */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 139, ../sass/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
/* line 167, ../sass/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 178, ../sass/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 192, ../sass/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 197, ../sass/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 202, ../sass/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 208, ../sass/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 215, ../sass/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 228, ../sass/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 235, ../sass/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 243, ../sass/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 258, ../sass/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 266, ../sass/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 273, ../sass/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 283, ../sass/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* layout & grid
------------------------------------*/
/* line 16, ../sass/_grid.scss */
.wrap {
  padding: 0 2em;
  position: relative;
}

@media (min-width: 55em) {
  /* line 24, ../sass/_grid.scss */
  .wrap {
    max-width: 67.8em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .wrap:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 41, ../sass/_grid.scss */
  .wrap {
    padding: 0 .4em;
  }
}
/* global styles	
------------------------------------*/
/* line 57, ../sass/screen.scss */
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #666666;
  font-size: 100%;
  background: #f9f9f9;
}

/* line 64, ../sass/screen.scss */
a {
  color: #3399cc;
  outline: none;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
/* line 69, ../sass/screen.scss */
a:hover {
  color: #47a3d1;
}

/* typographic	
------------------------------------*/
/* line 86, ../sass/screen.scss */
.entry-content h3,
.entry-content h4,
.entry-content p,
.entry-content ul,
.entry-content ol,
.entry-content img,
.mod h3,
.mod h4,
.mod p,
.mod ul,
.mod ol,
.mod img {
  margin-bottom: .6em;
  font-size: 1.25em;
  line-height: 1.375em;
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 86, ../sass/screen.scss */
  .entry-content h3,
  .entry-content h4,
  .entry-content p,
  .entry-content ul,
  .entry-content ol,
  .entry-content img,
  .mod h3,
  .mod h4,
  .mod p,
  .mod ul,
  .mod ol,
  .mod img {
    font-size: 1em;
    line-height: 1.25em;
  }
}
/* line 99, ../sass/screen.scss */
.entry-content h4,
.mod h4 {
  font-weight: bold;
  margin-bottom: 0 !important;
}
/* line 104, ../sass/screen.scss */
.entry-content p.overture,
.mod p.overture {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.25em;
  margin-bottom: .65em;
}
@media (max-width: 55em) {
  /* line 104, ../sass/screen.scss */
  .entry-content p.overture,
  .mod p.overture {
    font-size: 1.25em;
  }
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 104, ../sass/screen.scss */
  .entry-content p.overture,
  .mod p.overture {
    font-size: 1.15em;
  }
}
/* line 121, ../sass/screen.scss */
.entry-content ul,
.entry-content ol,
.mod ul,
.mod ol {
  list-style: disc;
  margin-left: 1.1em;
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 121, ../sass/screen.scss */
  .entry-content ul,
  .entry-content ol,
  .mod ul,
  .mod ol {
    margin-left: 1.2em;
  }
}
/* line 129, ../sass/screen.scss */
.entry-content ul li,
.entry-content ol li,
.mod ul li,
.mod ol li {
  line-height: 1.5em;
  margin-bottom: 1em;
}
/* line 133, ../sass/screen.scss */
.entry-content ul li p,
.entry-content ol li p,
.mod ul li p,
.mod ol li p {
  font-size: 1em;
}
/* line 141, ../sass/screen.scss */
.entry-content ol,
.mod ol {
  list-style: decimal;
}

/* line 152, ../sass/screen.scss */
.mod > *:last-child,
.mod > *:last-child > *:last-child,
.mod > *:last-child > *:last-child > *:last-child,
.entry-content > *:last-child,
.entry-content > *:last-child > *:last-child,
.entry-content > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0 !important;
}

/* interface patterns	
------------------------------------*/
/* line 162, ../sass/screen.scss */
a.more {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
}
/* line 167, ../sass/screen.scss */
a.more:hover {
  text-decoration: underline;
}

/* line 175, ../sass/screen.scss */
nav.paginator a,
a.btn,
button.btn,
input[type="submit"] {
  clear: both;
  padding: .4em 1em;
  display: inline-block;
  border: none;
  text-decoration: none;
  font-family: Helvetica Neue, Arial, sans-serif;
  background: #666666;
  color: #666666;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 0 #c7c7c7;
  -moz-box-shadow: 0 1px 0 #c7c7c7;
  box-shadow: 0 1px 0 #c7c7c7;
  -webkit-transition: 0.1s ease-in-out, background;
  -moz-transition: 0.1s ease-in-out, background;
  -o-transition: 0.1s ease-in-out, background;
  transition: 0.1s ease-in-out, background;
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 175, ../sass/screen.scss */
  nav.paginator a,
  a.btn,
  button.btn,
  input[type="submit"] {
    font-size: .875em;
  }
}
/* line 193, ../sass/screen.scss */
nav.paginator a:hover,
a.btn:hover,
button.btn:hover,
input[type="submit"]:hover {
  background: #999999;
}
/* line 197, ../sass/screen.scss */
nav.paginator a:active,
a.btn:active,
button.btn:active,
input[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 0 #c7c7c7;
  -moz-box-shadow: inset 0 1px 0 #c7c7c7;
  box-shadow: inset 0 1px 0 #c7c7c7;
}

/* header	
------------------------------------*/
/* main	
------------------------------------*/
/* secondary	
------------------------------------*/
/* footer	
------------------------------------*/
/* misc	
------------------------------------*/
/* line 264, ../sass/screen.scss */
hr,
.hide,
.screen-reader-text {
  display: none;
}

/* line 268, ../sass/screen.scss */
img, object {
  max-width: 100%;
}

/* line 272, ../sass/screen.scss */
a img {
  border: none;
}

/* line 278, ../sass/screen.scss */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 287, ../sass/screen.scss */
::-moz-selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: #666666;
  text-shadow: none;
}

/* line 293, ../sass/screen.scss */
::selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: #757575;
  text-shadow: none;
}
